	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close pull-left" ng-click="ok()">&times;</button>
			<h3>كلمات "فساتين"</h3>
		</div>
		<div class="modal-body">
			<tabset>
				<tab heading="بالانجليزي">
					<h4 class="eng">Fasateen (Dresses)</h4>
					<br />
					<p class="eng">Remember when you told me, that you were going to marry me<br />
					Without money or a house<br />
					Remember how you used to love me, even though I’m outside of your religion<br /> Remember how we used to be like that<br /> Remember when your mother saw me sleeping in your bed<br />
					Told me to forget about you<br />
					And we agreed to stay like that, without roles or rhetoric/ persuasion<br />
					Without neckties and <a popover="Sob7iyyé is when people, usually women, gather in the morning to drink tea and chit-chat" popover-title="صبحیة" popover-placement="bottom" popover-trigger="mouseenter">morning visits</a><br /> Without millions<br />
					Without dresses<br />
					You held my hand and promised me a revolution<br />
					How could you forget, how could you forget me<br />
					And you combed my hair and sent me off on time<br />
					Comb me the way you comb yourself<br /> You held my hand and promised me a revolution<br />
					How could you forget, how could you forget me<br />
					Without millions<br />
					Remember when you told me, that you intend to leave me<br />
					Without money or a house</p>
				</tab>
				<tab heading="بالعربي">
					<h3>فساتين</h3>
					<p class="ara"><br />اتذكري لما قلتيلي إنك رح تتزوجيني بلا فلوس وبلا بيت <br />تتذكري كنتي تحبيني مع اني مش داخل دينك تذكري كيف كنا هيك <br />اتذكري لما إمك شافتني نايم بتختك قالتلي إنسى عنك <br />واتفقنا نضلنا هيك بلا أدوار وطنطنات بلا كرافات وصبحيات <br />بلا ملايين بلا فساتين <br /> <br />مسكتيلي ايدي ووعدتيني بشي ثورة كيف نسيتي كيف نسيتيني <br />ومشطتيلي شعري وبعتيني عالدوام كيف بتمشطي مشطيني <br />مسكتيلي ايدي ووعدتيني بشي ثورة كيف نسيتي كيف نسيتيني <br /> <br />بلا ملايين <br /> <br />اتذكري لما قلتيلي إنك ناوية تتركيني بلا فلوس بلا بيت
				</p></tab>
			</tabset>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning cancel" ng-click="ok()">Close</button>
		</div>
	</div>
