<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="well">
				<p>Mashrou' Leila is a Lebanese alternative rock band who rose to international fame from beginning as a student music workshop. The band deals with different aspects of society that are normally unaddressed in traditional Arabic songs such as lost love, war, politics, materialism, immigration and homosexuality. Their music is very distinguished by experimentation with different instruments such as violin and megaphone, and does not follow traditional Arabic music tempo.</p>
				<p><strong>You will learn the following in this module:</p>
				<ul>
					<li>Mashrou’ Leila songs</li>
					<li>Alternative Arabic music </li>
					<li>How Mashrou’ Leila started </li>
					<li>Songs and music vocabulary </li>
					<li>Narration and command form </li>
					<li>Present tense in Spoken Arabic </li>
					<li>Expressing desire in Spoken Arabic</li>
				</ul>
			</div>
		</div>
	</div>
</div>