<div>
	<center><button type="button" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#words">كلمات الأغنية</button></center>

	<div id="words" class="collapse">
		<div style="height:209px;overflow:auto">
		<table class="table table-hover table-bordered">
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">هنا عنوانك</td>
				<td class="eng">Your address is here</td>
			</tr>
			<tr>
				<td class="ara">ﺩﻩ الخوف بيخاف منك</td>
				<td class="eng">Fear fears you</td>
			</tr>
			<tr>
				<td class="ara">وضميرك عمره ما خانك</td>
				<td class="eng">And your conscience has never betrayed you</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">ده نور الشمس راجع</td>
				<td class="eng">The sunlight is returning</td>
			</tr>
			<tr>
				<td class="ara">يا تموت وانت واقف</td>
				<td class="eng">You either die standing</td>
			</tr>
			<tr>
				<td class="ara">يا تعيش وانت راكع</td>
				<td class="eng">Or live kneeling</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">ده عيونك شايفة الدليل</td>
				<td class="eng">Your eyes see the evidence</td>
			</tr>
			<tr>
				<td class="ara">ابعد عنهم وسيت الحيطة عليهم تميل</td>
				<td class="eng">Stay away from them and let the wall lean on them</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">قلب الوطن اتجرح</td>
				<td class="eng">The heart of the nation has been wounded</td>
			</tr>
			<tr>
				<td class="ara">وصوت الحرية</td>
				<td class="eng">And the voice of freedom</td>
			</tr>
			<tr>
				<td class="ara">خلاص اتنبح</td>
				<td class="eng">Is no longer heard</td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول كرامة</td>
				<td class="eng">“You say, “Dignity</td>
			</tr>
			<tr>
				<td class="ara">هما يردوا بمهانة</td>
				<td class="eng">They answer with humiliation</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول العدل</td>
				<td class="eng">You say, "Justice"</td>
			</tr>
			<tr>
				<td class="ara">بيقولوا عنك ندل</td>
				<td class="eng">They say you are a scoundrel</td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">هنا عنوانك</td>
				<td class="eng">Your address is here</td>
			</tr>
			<tr>
				<td class="ara">ده الخوف بيخاف منك</td>
				<td class="eng">Fear fears you</td>
			</tr>
			<tr>
				<td class="ara">وضميرك عمره ما خانك</td>
				<td class="eng">And your conscience has never betrayed you</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">انت نور الفجر</td>
				<td class="eng">You are the light of dawn</td>
			</tr>
			<tr>
				<td class="ara">وهتافك صوته أعلى</td>
				<td class="eng">And your cry's sound is louder</td>
			</tr>
			<tr>
				<td class="ara">من صوت الرصاص والغدر</td>
				<td class="eng">Than the sounds of bullets and treachery</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">وادعي ويايا الأذان</td>
				<td class="eng">And sound the call of prayer with me</td>
			</tr>
			<tr>
				<td class="ara">لك رب اسمه الحق والعدل والسلام</td>
				<td class="eng">Your God is truth and justice and peace</td>
			</tr>
			<tr>
				<td class="ara">اثبت مكانك</td>
				<td class="eng">Stand your ground</td>
			</tr>
			<tr>
				<td class="ara">وكتفك في كتف أخوك</td>
				<td class="eng">Shoulder to shoulder with your brother</td>
			</tr>
			<tr>
				<td class="ara">لو مهما راحت روح الفكرة مش هتموت</td>
				<td class="eng">No matter how many souls have passed, the idea will not die</td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول كرامة</td>
				<td class="eng">“You say, “Dignity</td>
			</tr>
			<tr>
				<td class="ara">هما يردوا بمهانة</td>
				<td class="eng">They answer with humiliation</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول العدل</td>
				<td class="eng">You say, "Justice"</td>
			</tr>
			<tr>
				<td class="ara">بيقولوا عنك ندل</td>
				<td class="eng">They say you are a scoundrel</td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td class="ara">مطلوب منك السكوت تكون إنسان بديل</td>
				<td class="eng">You are required to be silent, to be another person</td>
			</tr>
			<tr>
				<td class="ara">مطلوب تسكت تموت أو تعيش أسير</td>
				<td class="eng">You are required to be silent, die, or live as a slave</td>
			</tr>
			<tr>
				<td class="ara">عايش في أكبر سجن بس من جوايا حر</td>
				<td class="eng">Living in the biggest prison, but inside I'm free</td>
			</tr>
			<tr>
				<td class="ara">حاضر حتعجب تكفي عني كل الشر</td>
				<td class="eng">Alright, do as they ask and they'll like you, they'll stop harming you</td>
			</tr>
			<tr>
				<td class="ara">الولاء الماضي أفكار لينا صديقة</td>
				<td class="eng">Loyalty to the past, reliable ideas</td>
			</tr>
			<tr>
				<td class="ara">كذب الكاذب جوايا يأكد الحقيقة</td>
				<td class="eng">The liar's lies confirm the truth inside me</td>
			</tr>
			<tr>
				<td class="ara">انعكاس تاريخ الزيف في المرايا واضح</td>
				<td class="eng">The reflection of forged history is clear in the mirror</td>
			</tr>
			<tr>
				<td class="ara">طوبة تكسر المرايا للحقيقة فاضح</td>
				<td class="eng">A brick breaks the mirror, exposing the truth</td>
			</tr>
			<tr>
				<td class="ara">ومستورين من جوانا لو جسمنا انكشف</td>
				<td class="eng">We are concealed from within even if our bodies are uncovered</td>
			</tr>
			<tr>
				<td class="ara">فاللي ينطق بالحقيقة بالخيانة اتوصف</td>
				<td class="eng">So he who speaks the truth is called a traitor</td>
			</tr>
			<tr>
				<td class="ara">انهر امي وانهزم لكن انتصاري اتسرق</td>
				<td class="eng">My defeat was defeated but my victory was stolen</td>
			</tr>
			<tr>
				<td class="ara">الحقيقة فبروكها بحزن على كتاب اتحرق</td>
				<td class="eng">They fabricated the truth with sadness on a burned book</td>
			</tr>
			<tr>
				<td class="ara">انا اللي ماتوا من سنة واللي قاتل ما اتشنق</td>
				<td class="eng">I am those who died a year ago and those who fight and do not give in</td>
			</tr>
			<tr>
				<td class="ara">أنا السطور على الورق</td>
				<td class="eng">I am the lines on the page </td>
			</tr>
			<tr>
				<td class="ara">أنا اللي من جوا اتحرق</td>
				<td class="eng">I am he who burns within</td>
			</tr>
			<tr>
				<td class="ara">أنا اللي شعري شاب بموته وهو طالب مدرسة</td>
				<td class="eng">I am he whose hair turned gray with the death of a schoolboy</td>
			</tr>
			<tr>
				<td class="ara">أنا اللي ثابت مهما قالوا وهمها زودوا الأسى</td>
				<td class="eng">I am he who is steadfast, no matter what they say, no matter how much sorrow there is</td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">(مطلوب منك السكوت تكون إنسان بديل)</td>
				<td class="eng">(You are required to be silent, to be another person)</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">(مطلوب تسكت تموت أو تعيش أسير)</td>
				<td class="eng">(You are required to be silent, die, or live as a slave)</td>
			</tr>
			<tr>
				<td class="ara">كلامك ما بيتفهمش</td>
				<td class="eng">Your words are not understood</td>
			</tr>
			<tr>
				<td class="ara">(مطلوب منك السكوت تكون إنسان بديل)</td>
				<td class="eng">(You are required to be silent, to be another person)</td>
			</tr>
			<tr>
				<td class="ara">إحساسك مابيتوصفش</td>
				<td class="eng">Your feeling cannot be described</td>
			</tr>
			<tr>
				<td class="ara">(مطلوب تسكت تموت أو تعيش أسير)</td>
				<td class="eng">(You are required to be silent, die, or live as a slave)</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول كرامة</td>
				<td class="eng">“You say, “Dignity</td>
			</tr>
			<tr>
				<td class="ara">هما يردوا بمهانة</td>
				<td class="eng">They answer with humiliation</td>
			</tr>
			<tr>
				<td class="ara">انت بتقول العدل</td>
				<td class="eng">You say, "Justice"</td>
			</tr>
			<tr>
				<td class="ara">بيقولوا عنك ندل</td>
				<td class="eng">They say you are a scoundrel</td>
			</tr>
		</table>
	</div>
	</div>
</div>

<br/>
<center><h3>أسباب قد تؤدي إلى ثورة اجتماعية</h3></center>
<div ng-controller="DragCtrl">
	<center>
	<button class="btn btn-default" ng-click="subtract()" ng-disabled="rightDisable"><span class="glyphicon glyphicon-chevron-right"></span></button>
		<div class="btn btn-default" ng-repeat="item in list1" ng-hide="$index!=count" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}}" ng-hide="!item.title">{{item.title}}</div>
	<button class="btn btn-default" ng-click="add()" ng-disabled="leftDisable"><span class="glyphicon glyphicon-chevron-left"></span></button>
	</center>
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">أسباب سياسية</div>
				<div class="panel-body" data-drop="true" data-jqyoui-options ng-model='list2' jqyoui-droppable="{multiple:true}">
					<div class="btn btn-info" ng-repeat="item in list2" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{animate:true}">{{item.title}}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">أسباب اقتصادية</div>
				<div class="panel-body" data-drop="true" data-jqyoui-options ng-model='list3' jqyoui-droppable="{multiple:true}">
					<div class="btn btn-info" ng-repeat="item in list3" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{animate:true}">{{item.title}}</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">أسباب اجتماعية</div>
				<div class="panel-body" data-drop="true" data-jqyoui-options ng-model='list4' jqyoui-droppable="{multiple:true}">
					<div class="btn btn-info" ng-repeat="item in list4" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{animate:true}">{{item.title}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="modules/egyptrevolution/dragdrop.js"></script>